<div class="container">
	<div class="md-spacing"></div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-collapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" routerLink="memory-leaked" routerLinkActive="active">1. Memory Leaked
					example</a>
				<a class="nav-item nav-link" routerLink="memory-leaked-fix" routerLinkActive="active">2. Fix Memory Leaked
					example</a>
				<a class="nav-item nav-link" routerLink="random" routerLinkActive="active">3. Random</a>
				<a class="nav-item nav-link" routerLink="websocket" routerLinkActive="active">4. Websocket
					example</a>
			</div>
		</div>
	</nav>

	<hr />
	<router-outlet></router-outlet>
  <div class="md-spacing"></div>


  